.container{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    
}
 
div{
    width: 300px;
    height: 150px;
}
 
.red{
    background-image: url("/img/img-1.jfif");
    background-color: red;
    grid-column-start: 1;
    background-repeat: no-repeat;
 
}
 
.blue{
    background-image: url("/img/img-2.jfif");
    background-color: blue;
}
 
.green{
    background-image: url("/img/img-3.jfif");
    background-color: green;
}
 
.yellow{
    background-image: url("/img/img-4.jfif");
    background-color: yellow;
}
 
.pink{
    background-image: url("/img/img-5.jfif");
    background-color: pink;
}
 
.brown{
    background-image: url("/img/img-6.jfif");
    background-color: brown;
}
 
.salmon{
    background-image: url("");
    background-color:salmon;
}
 
.silver{
    background-image: url("");
    background-color: silver;
}
 
.orange{
    background-image: url("");
    background-color: orange;
}
 
.container.test{

    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas de tamanho igual */
    grid-auto-flow: row; /* Os itens vão preencher as colunas primeiro e depois seguir para a próxima linha */
    gap: 10px; /* Espaçamento entre os itens */
    padding: 10px;
    width: 100%;
}

div{
    width: 300px;
    height: 150px;

}
.abacate{ 
    background-color: #77dd77;
    grid-column-start: 1;
    background-repeat: no-repeat;

}

.uva{
   
    background-color: #800080;
    

}

.morango{ 
    background-color: #Fb83a6;
}


.banana{
    background-color: #FFD700;
}

.acerola{  background-color: orangered;

}

.abacaxi{  background-color: #FFFF00;

}

.cereja{  background-color: #FF0000;

}

.maca{ background-color: #84f100;

}

.pera{ background-color: #7CFC00;

}

